body{
  margin:0;
  padding:0;
  background-color: #efefef
}
main { padding: 1rem }
#page_title{
  font-family: 'Merriweather', serif;
  text-align:center
}
#mainTextArea {
  background-color: white;
  height: 80vh;
}
