*[contenteditable="true"]{display: inline-block;}
*:focus {
  outline: none;
}
html{
  font-family: 'Merriweather', serif;
}
body{
  margin:0;
  padding:0;
  background-color: #efefef;
  font-family: 'Merriweather', serif;
}
header{
  width: 80vw;
  display: block;
  margin: auto;
}
main { padding: 1rem }
#page_title{
  font-family: 'Merriweather', serif;
  text-align:center
}
#mainTextArea {
  background-color: white;
  height: 80vh;
  width: 80vw;
  display: block;
  margin: auto;
  padding: 1rem
}
.line{
  width:100%;
}
.counters{
  margin: 1.5rem 0;
  font-family: 'Merriweather', serif;
}
.counter{
  width: 33%;
  display: inline-block;
  text-align:center
}
.counterContent{
  font-weight:bold;
  display:inline
}
.icon{
  font-weight: bold;
  font-size: 2rem;
  display: inline-flex;
  vertical-align: middle;
}
.text{
  vertical-align: middle;
}
.outlineLevel1{
  margin-left: 1rem;
}
.outlineLevel2{
  margin-left: 2rem;
}
.outlineLevel3{
  margin-left: 3rem;
}
.outlineLevel4{
  margin-left: 4rem;
}
.outlineLevel5{
  margin-left: 5rem;
}
.outlineLevel6{
  margin-left: 6rem;
}
.outlineLevel7{
  margin-left: 7rem;
}
.paragraph::before {
  content: "•";
  vertical-align: middle;
}
.text{
  width:75vw;
}
.theme{
  text-align: right;
}
.theme-label{
  margin: 0.5rem;
  font-weight: bold;
}
.theme-button{
  background-color: grey;
  border: 1px solid black;
  color:white;
  cursor: pointer;
}
.theme-right{
  border-radius: 0rem 1rem 1rem 0rem;
}
.theme-left{
  border-radius: 1rem 0rem 0rem 1rem;
}
.theme-selected{
  background-color:darkgray !important;
}

/*dark theme*/
.dm-background{
  background-color: #131313 !important;
  color:white !important;
}
.dm-textArea{
  background-color: #363636 !important;
}

/*light theme*/
.lm-background{
  background-color: #efefef !important;
  color:black !important;
}
.lm-textArea{
  background-color: white !important;
}